.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: black;
  height: 60%;
  justify-content: space-between;
}

.activeContainer {
  display: flex;
  align-items: center;
}

.activeItem {
  display: flex;
  align-items: center;
  color: black;
  font-size: 30px;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}
.average {
  font-size: 30px;
  color: #2ce25a;
}

@media (min-width: 360px) and (max-width: 600px) {
  .average {
    font-size: 20px;
  }
  .activeItem {
    font-size: 20px;
  }
}
